@using SSLGhost.Types

@model Ghost
           
@{
    ViewBag.Title = "Welcome to the Afterlife";
}

@Html.ActionLink("Enter", "Index", "gateway")

<h1>HTTP</h1>

<h2>Welcome to the afterlife, young ghost</h2>
